script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/tether/dist/js/tether.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/lib/simplemde/dist/simplemde.min.js")
script(src='/lib/scotchPanels/dist/scotchPanels.min.js')
script(src='//use.fontawesome.com/9dd325c7f8.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js')
script(src='/js/app.js')
if ENV_DEVELOPMENT
	script(src='http://localhost:35729/livereload.js')