extends shared/layout
block main-content
	.blog-hero
		.container
			.row
				.col-md-12.text-center
					.intro
						h3 Hi, I'm 
							strong Chaithanya Padi
						br
						p
							small you can also find me on 
						ul
							li
								a(href="https://www.linkedin.com/in/chaithanyapadi",target="_blank")
									i.fa.fa-linkedin
							li
								a(href="https://www.facebook.com/chaithanya.padi",target="_blank")
									i.fa.fa-facebook
							li
								a(href="https://twitter.com/chaitu87",target="_blank")
									i.fa.fa-twitter
							li
								a(href="https://github.com/chaitu87",target="_blank")
									i.fa.fa-github
			.row
				.col-xs.text-center
					ul.articles