extends shared/layout

block main-content
	.projects
		.container
			.row
				.col-md-12.text-center
					p List of Projects
					ul.inner-hr-list
						li
							a(href="/project/troops") Troops
						li
							a(href="/project/web-presentation") Web Presentation
