extends layout

block content
	.projects
		.container
			.row
				.col-xs-12.text-xs-center
					p List of Projects
					ul.inner-hr-list
						li
							a(href="/project/troops") Troops
						li
							a(href="/project/web-presentation") Web Presentation
