extends shared/layout

block main-content
	.snippets
		.container
			.row
				.col-md-12.text-center
					p List of Snippets
					ul.inner-hr-list
						li
							a(href="/snippet/webworker") Webworker Notifications
						li
							a(href="/project/troops") HTML Chat Windows
