extends layout

block content
	.snippets
		.container
			.row
				.col-xs-12.text-xs-center
					p List of Snippets
					ul.inner-hr-list
						li
							a(href="/snippet/webworker") Webworker Notifications
						li
							a(href="/project/troops") HTML Chat Windows
