extends ../shared/layout
append css
	link(rel='stylesheet', href='../css/articles/style.css')
append js
	script(src='../js/articles/app.js')
block main-content
	.articles
		.container
			.row
				.col-xs-12
					h1 Articles
					ul.listing
						each article in articles
							li
								a.article-title(href="/article/#{article.slug}") #{article.title}
								p.short-description #{article.shortdesc}