extends ../shared/layout
append css
	link(rel='stylesheet', href='../css/articles/style.css')
append js
	script(src='../js/articles/app.js')
block main-content
	.article
		.container
			.row
				.col-xs-12
					h1= article.title
					.article-body
						| !{article.body}
					